@using AirlineMS.Models.Dtos;
@model IEnumerable<CompanyDto>;
@{
    ViewData["Title"] = "List of Company";
}
<div>
    <div class="text-center">welcome <h6>@ViewBag.email</h6></div>
    <div>
        <div class="text-center"><h4>@ViewData["Title"]</h4></div>
        <div class="text-end">
            <a class="btn btn-primary" asp-action="Logout">LogOut</a>
            <a class="btn btn-primary" asp-action="Add">Add New Company</a>
        </div>
    </div>
    <div class="pt-4">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>CompanyName</th>
                    <th>CACRegistrationNum</th>
                    <th>CACDocument</th>
                    <th>Logo</th>                   
                    <th>Detail</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td>@company.Name</td>
                        <td>@company.CACRegistrationNum</td>
                        <td>@company.CACDocument</td>
                        <td>@company.Logo</td>
                        <td>
                            <a asp-controller="Company" asp-action="Details" asp-route-id="@company.Id">View</a>
                        </td>
                        <td>Remove</td>
                    </tr>
                }
            </tbody>
            <div>

            </div>
        </table>
    </div>
</div> 
